@model IEnumerable<REST.Models.Apartment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apartments1.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building.D_Pipe_C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No_Rooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BBR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fordelingstal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ap_Drawing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uploaded_Doc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uploaded_Doc_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uploaded_Doc_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Apartments1.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.D_Pipe_C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Floor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No_Rooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BBR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fordelingstal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ap_Drawing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uploaded_Doc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uploaded_Doc_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uploaded_Doc_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ap_No }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ap_No }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ap_No })
        </td>
    </tr>
}

</table>
